:root {
    --primary-color: #52489c;
    --secondary-color: #59c3c3;
    --accent-color: #f45b69;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica, sans-serif;
    --secondary-font: Mooli, sans-serif;
}
body {
    font-family: var(--primary-color);
    font-size: 1.2em;
    color: var(--text-dark);
    margin: 0;
    padding: 0;
    background-color: var(--text-light);
}
h1 {
    font-family: var(--secondary-color);
    color: var(--text-light);
    background-color: var(--primary-color);
}
h2 {
    font-family: var(--secondary-color);
    color: var(--text-dark);
    text-align: center;
}
header, footer {
    background-color: var(--primary-color);
    color: var(--text-light);
    padding: 20px;
}
header {
    text-align: center;
}
footer {
    text-align: left;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 20px;
    justify-content: center;
    place-items: center;
}
.gallery figure {
    margin: 0;
    padding: 0;
}
.gallery img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    /* border-radius: 5px;
    border-color: white; */
    border: 10px solid white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}
.menu.hide {
    display: none;
}
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}
.menu-button {
    background: none;
    border: none;
    color: var(--text-light);
    cursor: pointer;
}
a {
    margin: 10px;
}
.viewer {
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 10; 
  display: grid;
  justify-items: center;
  align-items: center;
}

/* Close button (X) styling */
.close-viewer {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

/* Image inside the modal */
.modal-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 8px;
} 

@media screen and (min-width: 700px) {
    .gallery {
        grid-template-columns: 1fr 1fr;
    }
    .menu {
        display: none;
    }
}
@media screen and (min-width: 1000px) {
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .menu-button {
        display: none;
    }
    .menu {
        display: block;
    }
    a {
        margin: 50px;
    }

    .modal-image {
        max-width: 80%;
        max-height: 80%;
    }

}
